<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <!-- header part -->
        <div class="header">
            <h1>Blog</h1>

            <% if (user) { %>
                <p class="welcomeMsg">Welcome, <%= user.username %>!</p>
                <form action="/user_posts" method="GET">
                    <button type="submit">My Posts</button>
                    <input type="text" name="username" value="<%= user.username %>" hidden>
                </form>
            <% } else { %>
                <div class="control_box">
                    <form action="/register_login" method="GET">
                        <button class="register_logIn_button" type="submit">register/ LogIn</button>
                     </form>
                 </div>
            <% } %>

            <form action="/newPost" method="GET">
                <button type="submit">New Post</button>
            </form>
        </div>

         <!-- blog posts part -->
        <div class="blog_posts_box">
            <% if (locals.posts){ %>
                 <% posts.forEach((post) => { %>
                    <div class="one_post">
                        <h3><%= post.title %></h3>
                        <p class="date"><%= post.created_at %></p>
                        <p class="description"><%= post.content %></p>
                        <p class="author">author: <%= post.username %></p>       
                    </div>
                <% }) %>
            <% } else { %>
                <h1>You are not qualified to view my website, go back! try to improve yourself</h1>
            <% } %>
                
        
        </div>
        <!-- control box -->
        <button class="theme_changing_button">day/night</button>
        <button class="font_size_increase_button">A+</button>
        <button class="font_size_decrease_button">A-</button>
    </div>
</body>
</html>